/************ GENERAL ************/

*{
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Tillana', cursive;
	font-size: 1.4rem;
}

li {
	font-size: 20px;
}

a {
	text-decoration: none;
	font-size: 1.5rem;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 15px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/************ HEADER ***********/

header {
	background: seagreen;
	text-align: center;
	
}

header .logo-container {
	padding: 20px;
}

header img {
	width: 140px;
}


/************ NAVIGATION ***********/

nav {
	background: darkgreen;
	padding: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
}

nav li a {
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
}

/************ GALLERY ************/

#gallery {
	padding-top:  0px;
	padding-bottom: 0px;
}

#gallery img {
	width: 200px;
}

#gallery .item {
	float: none;
	width: 33.3333%;
	padding: 10px;
}

#gallery .item:last-child{
	clear: left;
}

#gallery .caption {
	background: lightcyan;
	padding: 50px;


}
#gallery .caption p {
	margin: 0;
}

/******** FOOTER ********/

footer.main {
}





@media only screen and (min-width:768px) {
	

	/************ GALLERY ************/

	#gallery .item {
		width: 50%;
	}

  #gallery .item:nth-child(3n + 1) {
	clear: left;
}


@media only screen and (min-width:992px) {
	
		
	}

@media only screen and (max-width:767px) {
	

	/************ GALLERY ************/

 	#gallery .item:nth-child(3n + 1) {
	clear: left;

